*.jpg
!dataset/*/
!testImages/*.jpg
!auto18-final.jpg
detection.png
YOLOv3.pdf
.ipynb_checkpoints/
plateClassifier
plateRecognitionFinal
finalPlateClassifier
finalPlateClassifierCanny
venv37/
lapi.weights
darknet-yolov3.cfg
